<html>
<head>
    <title>User</title>
    {% include 'header.html' %}
</head>

<body>
{% include 'navbar.html' %}
<div class='container'>
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="{{ session['user']['avatar'] or '' }}"
             onerror="this.src='https://c1.staticflickr.com/5/4583/38319711966_405f49d610_o.gif'" alt="Card image cap">
    </div>
    <form action='/user/update/' method='post'>
        <label for="user_id">UMoment id</label>
        <input type="text" readonly="true" value='{{session["user"]["user_id"]}}' id="user_id" name='user_id'
               class="form-control"
               required autofocus>

        <label for="nick_name">Nick Name</label>
        <input type="text" value='{{session["user"]["nick_name"]}}' id="nick_name" name='nick_name' class="form-control"
               required>


        <label for="email">Email</label>
        <input type="email" value='{{session["user"]["email"]}}' id="email" name='email' class="form-control"
               required>

        <label for="avatar">Avatar</label>
        <input type="url" value='{{session["user"]["avatar"]}}' id="avatar" name='avatar' class="form-control"
               required>


        <label for="password">Password</label>
        <input type="password" value='{{session["user"]["password"]}}' id="password" name='password'
               class="form-control"
               required>

        <label for="introduction">Introduction</label>
        <input type="text" value='{{session["user"]["introduction"]}}' id="introduction" name='introduction'
               class="form-control"
               required>
        <div class="row">
            <div class="col-2">
                <button class="btn btn-lg btn-primary btn-block" type="submit">update file</button>
            </div>
        </div>

    </form>
</div>
</body>

</html>